[Unit]
Description=AdGuard Home Sync

[Service]
ExecStart={{ adguardhomesync_path }} run
WorkingDirectory={{ adguardhomesync_config_dir }}
User={{ adguardhomesync_user }}
Group={{ adguardhomesync_group }}

[Install]
WantedBy=multi-user.target
