[Unit]
Description=The Cloud Native Application Proxy

[Service]
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart={{ traefik_path }}
WorkingDirectory={{ traefik_dir }}
User={{ traefik_user }}
Group={{ traefik_group }}

[Install]
WantedBy=multi-user.target
